{include file='../header.html'}
<h1>Control {$name}</h1>
<form method="POST">
    <table>
        <thead>
        {foreach from=$data.fields item=field}
        <th>
            {$field.Field}
        </th>
        {/foreach}
        <th></th>
        </thead>
        {foreach from=$data.items item=item}
        <tr>
            {foreach from=$item item=value key=k}
            <td>
                <input $k== name="{$item->id}_{$k}" type="text" value="{$value}" {if 'id'}DISABLED{/if}>
            </td>
            {/foreach}
            <td>
                <input name="__save_{$item->id}" type="submit" value="Сохранить">
                <input name="__delete_{$item->id}" type="submit" value="Удалить">
            </td>
        </tr>
        {/foreach}
        <tr colspan="{$fields|count}">
            <td>Новая запись</td>
        </tr>
        <tr>
            {foreach from=$data.fields item=field key=k}
            <td>
                <input $k== name="new_{$field.Field}" type="text" {if 'id'}DISABLED{/if}>
            </td>
            {/foreach}
            <td>
                <input name="__create" type="submit" value="Создать">
            </td>
        </tr>
    </table>
</form>

{include file='../footer.html'}