{% include 'header.html' %}
<h1>{{ title }}</h1>

<form action="" method="post" style="width:500px;;float:left;">
    {{ content_data.message }}<br/>
    <label for="login">
        Логин
        <input id="login" name="login" type="text">
    </label><br>
    <label for="password">
        Пароль
        <input id="password" name="password" type="password">
    </label><br>
    <input type="submit" value="Начальника входи">
</form>
<img src="images/i.jpg" width="300">
{% include 'footer.html' %}