<nav class="footer-menu">
    <div class="footer-menu-company footer-menu-element">
        <h2>COMPANY</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="footer-menu-information  footer-menu-element">
        <h2>INFORMATION</h2>
        <ul>
            <li><a href="#">Tearms & Condition</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">How to Buy</a></li>
            <li><a href="#">How to Sell</a></li>
            <li><a href="#">Promotion</a></li>
        </ul>
    </div>
    <div class="footer-menu-category  footer-menu-element">
        <h2>SHOP CATEGORY</h2>
        <ul>
            <li><a href="product_page.php">Men</a></li>
            <li><a href="product_page.php">Women</a></li>
            <li><a href="product_page.php">Child</a></li>
            <li><a href="product_page.php">Apparel</a></li>
            <li><a href="product_page.php">Brows All</a></li>
        </ul>
    </div>
</nav>