<form method="post" class="login-form" action="/user/login/">
    <div class="login-form__title">Login</div>
    <input class="login-form__input" id="login" type="text" name="login">
    <div class="login-form__title">Password</div>
    <input class="login-form__input" id="password" type="password" name="password">
    <button class="my-account-panel__btn" id="login-btn" type="submit">Authorisation</button>
</form>
<button class="my-account-panel__btn" id="register-btn">Registration</button>