<div class="header-top-left">
    <a class="logo" href="/"><img src="/assets/img/logo.png" alt="logo">
        <p>BRAN<span>D</span></p></a>
    <div class="search-form">
        <form action="#" class="search">
            <div class="browse-box">
                <div class="browse-box__title">browse
                    <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </div>
                <div class="browse-box__list">
                    <h4>WOMEN</h4>
                    <ul>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Sweaters/Knits</a></li>
                        <li><a href="#">Jackets/Coats</a></li>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">Denim</a></li>
                        <li><a href="#">Leggings/Pants</a></li>
                        <li><a href="#">Skirts/Shorts</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>
                    <h4>MEN</h4>
                    <ul>
                        <li><a href="#">Tees/Tank tops</a></li>
                        <li><a href="#">Shirts/Polos</a></li>
                        <li><a href="#">Sweaters</a></li>
                        <li><a href="#">Sweatshirts/Hoodies</a></li>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">Jackets/vests</a></li>
                    </ul>
                </div>
            </div>
            <input type="text" placeholder="Search for Item...">
            <a href="#" class="submit"><i class="fas fa-search"></i></a>
        </form>
    </div>
</div>
<div class="header-top-right">
    <nav class="cart">
        <ul>
            <li class="cart-menu"><img class="cart-menu-img" src="/assets/img/cart.svg" alt=""><span
                        id="cart-count"></span>
                <div class="sub-menu" id="sub-menu">
                </div>
            </li>
        </ul>
    </nav>
    <nav class="my-account">
        <button id="my-account-btn" class="account-btn">My Account<i class="fas fa-caret-down"></i></button>
        {% include 'widgets/my_account.twig' %}
    </nav>
</div>