<nav class="top-menu">
    <div class="container">
        <ul>
            <li class="current-page"><a href="#">HOME</a></li>
            <li><a href="/product_page/">MAN</a>
                <div class="mega-menu">
                    <div class="mega-menu__col">
                        <div class="section">
                            <h3>MAN</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                                <li><a href="#">Jackets/Coats</a></li>
                                <li><a href="#">Blazers</a></li>
                                <li><a href="#">Denim</a></li>
                                <li><a href="#">Leggings/Pants</a></li>
                                <li><a href="#">Skirts/Shorts</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mega-menu__col">
                        <div class="section">
                            <h3>MAN</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                                <li><a href="#">Jackets/Coats</a></li>
                            </ul>
                        </div>
                        <div class="section">
                            <h3>MAN</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mega-menu__col">
                        <div class="section">
                            <h3>MAN</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                                <li><a href="#">Jackets/Coats</a></li>
                            </ul>
                        </div>
                        <a href="#" class="excellent-offer">
                            <span>Super sale!</span>
                        </a>
                    </div>
                </div>
            </li>
            <li><a href="#">WOMEN</a>
                <div class="mega-menu">
                    <div class="mega-menu__col">
                        <div class="section">
                            <h3>WOMEN</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                                <li><a href="#">Jackets/Coats</a></li>
                                <li><a href="#">Blazers</a></li>
                                <li><a href="#">Denim</a></li>
                                <li><a href="#">Leggings/Pants</a></li>
                                <li><a href="#">Skirts/Shorts</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mega-menu__col">
                        <div class="section">
                            <h3>WOMEN</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                                <li><a href="#">Jackets/Coats</a></li>
                            </ul>
                        </div>
                        <div class="section">
                            <h3>WOMEN</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mega-menu__col">
                        <div class="section">
                            <h3>WOMEN</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                                <li><a href="#">Jackets/Coats</a></li>
                            </ul>
                        </div>
                        <a href="#" class="excellent-offer">
                            <span>Super sale!</span>
                        </a>
                    </div>
                </div>
            </li>
            <li><a href="#">KIDS</a>
                <div class="mega-menu">
                    <div class="mega-menu__col">
                        <div class="section">
                            <h3>KIDS</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                                <li><a href="#">Jackets/Coats</a></li>
                                <li><a href="#">Blazers</a></li>
                                <li><a href="#">Denim</a></li>
                                <li><a href="#">Leggings/Pants</a></li>
                                <li><a href="#">Skirts/Shorts</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mega-menu__col">
                        <div class="section">
                            <h3>KIDS</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                                <li><a href="#">Jackets/Coats</a></li>
                            </ul>
                        </div>
                        <div class="section">
                            <h3>KIDS</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mega-menu__col">
                        <div class="section">
                            <h3>KIDS</h3>
                            <ul>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Sweaters/Knits</a></li>
                                <li><a href="#">Jackets/Coats</a></li>
                            </ul>
                        </div>
                        <a href="#" class="excellent-offer">
                            <span>Super sale!</span>
                        </a>
                    </div>
                </div>
            </li>
            <li><a href="#">ACCOSERIESE</a></li>
            <li><a href="#">FEATURED</a></li>
            <li><a href="#">HOT DEALS</a></li>
        </ul>
    </div>
</nav>