<h3 class="text-title">Welcome <span class="first-letter-up">{{ authorized_user.name }}</span></h3>
<a class="btn btn-white btn-block" href="/profile">Go to profile</a>
<form method="post" action="/user/logout/">
    <button class="btn btn-red btn-block" name="logout" type="submit">Logout</button>
</form>
