<div class="wrap">
    <div class="slider">
        <div class="container">

            <div class="slider-text">
                <h1>THE BRAND</h1>
                <p>OF LUXERIOUS <span>FASHION</span></p>
            </div>
        </div>
    </div>
    <main>
        <div class="product-gallery">
            <div class="container">
                <div class="sample">
                    <div class="product-gallery-label">
                        <p>HOT DEAL</p>
                        <h2>FOR MEN</h2>
                    </div>
                    <a href="#"><img src="assets/img/Layer%2030.jpg" alt=""></a></div>

                <div class="sample sample-right">
                    <div class="product-gallery-label">
                        <p>LUXIROUS &amp; TRENDY</p>
                        <h2>ACCESORIES</h2>
                    </div>
                    <a href="#"><img src="assets/img/Layer%2037.jpg" alt=""></a></div>

                <div class="sample">
                    <div class="product-gallery-label">
                        <p>30% OFFER</p>
                        <h2>WOMEN</h2>
                    </div>
                    <a href="#"><img src="assets/img/Layer%2032.jpg" alt=""></a></div>

                <div class="sample sample-right">
                    <div class="product-gallery-label">
                        <p>NEW ARRIVALS</p>
                        <h2>FOR KIDS</h2>
                    </div>
                    <a href="#"><img src="assets/img/Layer%2031.jpg" alt=""></a></div>
            </div>
        </div>

        <section class="products">
            <div class="container">
                <div class="products-text">
                    <h3>Fetured Items</h3>
                    <p>Shop for items based on what we featured in this week</p>
                </div>

                <div class="products-list">

                </div>
                <button class="products-btn" data-limit="8">Show More <i
                            class="fas fa-long-arrow-alt-right"></i></button>
            </div>

        </section>
        <div class="feature">
            <div class="container">
                <div class="feature-pict">
                    <div class="feature-pict-label">
                        <h2>30% <span>OFFER</span></h2>
                        <p>FOR WOMEN</p>
                    </div>
                    <img src="assets/img/Image.jpg" alt="Image">
                </div>
                <div class="feature-content">
                    <article class="feature-content-box box1">
                        <h3>Free Delivery</h3>
                        <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                            models.</p>
                    </article>
                    <article class="feature-content-box box2">
                        <h3>Sales & discounts</h3>
                        <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                            models.</p>
                    </article>
                    <article class="feature-content-box box3">
                        <h3>Quality assurance</h3>
                        <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                            models.</p>
                    </article>
                </div>
            </div>
        </div>
        <section class="subscribe">
            <div class="container">
                <div class="subscribe-content">
                    <div class="subscribe-content-text">
                        <p>“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a.
                            Aliquam condimentum mattis neque sed pretium”</p>
                        <p class="autor">Bin Burhan <br>
                            <span>Dhaka, Bd</span></p>
                    </div>
                    <div class="subscribe-content-form">
                        <h2>SUBSCRIBE</h2>
                        <p>FOR OUR NEWLETTER AND PROMOTION</p>
                        <form action="#">
                            <input type="text" placeholder="Enter Your Email"><a href="#" class="subscribe-btn">Subscribe</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

</div>
<div class="modal-cart"><div class="modal-menu" id="modal-menu"></div></div>
