<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <a class="logo" href="#"><img src="/assets/img/logo.png" alt="logo">
                <p>BRAN<span>D</span></p></a>
            <p class="footer-logo-text">Objectively transition extensive data rather than cross functional
                solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits.
                Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.</p>
            <p class="footer-logo-text">Efficiently plagiarize 24/365 action items and focused infomediaries.
                Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
            <p class="footer-logo-text">Objectively strategize seamless relationships via resource sucking testing
                procedures. Proactively cultivate next-generation results for value-added methodologies. Dynamically
                plagiarize unique methodologies after performance based methodologies.</p>
            <p class="footer-logo-text">Monotonectally empower stand-alone mindshare rather than ubiquitous
                opportunities. Dynamically orchestrate resource sucking scenarios after alternative synergy.
                Compellingly envisioneer corporate methods of empowerment before standards compliant technologies.
                Objectively facilitate progressive.</p>
        </div>
        {% include 'widgets/footer_menu.twig' %}
    </div>
    {% include 'widgets/footer_copy.twig' %}
</footer>